<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
     <%= f.hidden :text_version, :value=>text_array[session[:sess_idx].to_i ].to_s %>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<link href='//spreadsheets.google.com/client/css/4176578971-published_form_compiled.css' type='text/css' rel='stylesheet'><link href='//spreadsheets.google.com/client/css/4176578971-published_form_compiled.css' type='text/css' rel='stylesheet'> 
<style type='text/css'>@import url(//themes.googleusercontent.com/fonts/css?kit=KmlWprwWCzsthLdw_vMbKmyYEEtHI9926Sks5ODBPtU);
body{background:#fff;color:#333;font-family:'Droid Sans',Arial,sans-serif;line-height:20px;padding:0}h1,h2,h3,h4,h5,h6,p,ul,ol,li,div,td,label{line-height:20px;margin:0;padding:0}br{display:none}h1,h2,h3,h4,h5,h6{color:#000}body.ss-base-body{background:#eee;margin:0;padding:0}div.ss-form-container{border:none;border-right:2px solid #e0e0e0;margin:0;max-width:800px;padding:20px 40px 20px 20px;width:auto}h1.ss-form-title{font-family:'Droid Serif',Georgia,'Times New Roman',serif;font-size:21px;line-height:30px;margin-bottom:20px}div.errorbox-bad{background:#fee;border:none;padding:0}div.errorbox-bad div.ss-form-entry{background:#fffafa;border-color:#ffe0e0}div.ss-form-entry{background:#fdfdfd;border:1px solid #f0f0f0;border-width:0 1px 1px 0;margin:0 0 20px;padding:5px 10px 10px}div.ss-section-header,div.ss-page-break{margin:40px 0 0}div.ss-section-header div.ss-form-entry,div.ss-navigate div.ss-form-entry,div.ss-page-break div.ss-form-entry{background:#fff;border:none;padding:0}h2.ss-section-title,h2.ss-page-title{background:none;font-family:'Droid Serif',Georgia,'Times New Roman',serif;font-size:18px;margin:0;padding:0}div.ss-section-description{margin:0}label.ss-q-help{font-style:italic;margin:0}.ss-required-asterisk{color:#c00}input.ss-q-short{border:1px solid #ccc;height:18px}textarea.ss-q-long{border:1px solid #ccc;height:78px}select{border:1px solid #ccc;height:18px}ul.ss-choices{margin:0}li.ss-choice-item{line-height:20px;padding:0}input.ss-q-other{border:1px solid #ccc;height:18px}input.ss-q-checkbox{border:1px solid #ccc}label.ss-scalenumber{padding:0}tr,td{border-color:#f0f0f0}td.ss-scalerow{padding:0}tr.ss-grid-row-odd{background:#fdfdfd}tr.ss-grid-row-even{background:#fff}td.ss-gridrow{padding:0}td.ss-gridrow-leftlabel{padding:0}span.ss-powered-by,span.ss-terms{margin:20px 0 0}</style></head>
<hr class="ss-email-break" style="display:none;">
</div>
<div class="ss-form"><form action="https://spreadsheets.google.com/formResponse?formkey=dG85V3FaWnMzaFA4dDNmekF3UjROUXc6MQ&amp;ifq" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">

<br>
<div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_9">What is your email?  We promise not to share it with anyone.
</label>
<label class="ss-q-help" for="entry_9"></label>
<input type="text" name="entry.9.single" value="" class="ss-q-short" id="entry_9"></div></div></div>

div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" name="submit" value="Submit"></div></div></form>

  <div class="actions">
	
  <%= %>#image_submit_tag "/images/btn3.png", :id =>"clay"%>
  
  </div>
<% end %>
