<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
     <%= f.hidden :text_version, :value=>text_array[session[:sess_idx].to_i ].to_s %>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :question, :size => "37x7" %>
  </div>
<br/>
  <div class="field">
   <h6 color="#ffffff"> Your Email: <%= f.text_field :email %></h6>
  </div>

  <div class="actions">
	
    <%= image_submit_tag("/images/get_started_btn.png")%>
  
  </div>
<% end %>
